.App{

      height: 100vh;
      background-color:black

}

.heading-cont{
        font-size: 80px;
        height: 20vh;
        color: rgb(33, 223, 46);
        /* border: 2px solid rgba(132, 255, 0, 0.232); */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
}


.components-cont{

        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}